.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(184, 215, 184);
  }
  
  .logo {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 175px;
    margin: auto;
    margin-top: 25px;
  }

  .title{
    font-family:"Copperplate", Fantasy;
    font-weight: lighter;
    color: #528265;
  }